*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.retangulo{
    max-width: 70%;
    border: 1px red solid;
    margin-top: 40%;
    width: 40%;
    height: 50%;
}
.textos{
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:0.5rem;
}
h2{
    font-size: 2.1rem;
}
h3{
    font-size: 1.7rem;
}
p{
    padding: 4px;
    font-size: 1.2rem;
}